# permissions for end users to edit experiments.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: experiment-editor-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: chaosmeta-inject-operator
    app.kubernetes.io/part-of: chaosmeta-inject-operator
    app.kubernetes.io/managed-by: kustomize
  name: experiment-editor-role
rules:
- apiGroups:
  - chaosmeta.io
  resources:
  - experiments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - chaosmeta.io
  resources:
  - experiments/status
  verbs:
  - get
