apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: serviceaccount
    app.kubernetes.io/instance: controller-manager
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: chaosmeta-measure-operator
    app.kubernetes.io/part-of: chaosmeta-measure-operator
    app.kubernetes.io/managed-by: kustomize
  name: controller-manager
  namespace: system
